adagio==0.2.4
aiohttp==3.8.3
aiosignal==1.3.1
antlr4-python3-runtime==4.11.1
anyio==3.6.2
appdirs==1.4.4
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asciitree==0.3.3
asteval==0.9.29
asttokens==2.2.1
async-timeout==4.0.2
attrs==22.2.0
backcall==0.2.0
beautifulsoup4==4.11.1
bidsschematools==0.6.0
bleach==5.0.1
blessed==1.19.1
blessings==1.7
bokeh==2.4.3
boto3==1.26.50
botocore==1.29.50
bottle==0.12.25
bqplot==0.12.36
ccfwidget==0.1.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
ci-info==0.3.0
click==8.1.3
click-didyoumean==0.3.0
colorlog==6.7.0
comm==0.1.2
contourpy==1.0.6
CProfileV==1.0.7
cycler==0.11.0
dandi==0.48.0
dandischema==0.7.1
debugpy==1.6.5
decorator==5.1.1
defusedxml==0.7.1
dnspython==2.3.0
email-validator==1.3.0
entrypoints==0.4
etelemetry==0.3.0
executing==1.2.0
fastcluster==1.2.6
fasteners==0.18
fastjsonschema==2.16.2
flake8==6.0.0
fonttools==4.38.0
fqdn==1.5.1
frozenlist==1.3.3
fs==2.4.16
fscacher==0.2.0
fsspec==2022.11.0
fugue==0.8.1
fugue-sql-antlr==0.1.5
future==0.18.3
gast==0.4.0
h5py==3.7.0
hdmf==3.4.7
humanize==4.4.0
iblutil==1.4.0
idna==3.4
imageio==2.24.0
importlib-metadata==4.13.0
inquirer==3.1.2
interleave==0.2.1
ipydatagrid==1.1.14
ipydatawidgets==4.3.2
ipykernel==6.19.4
ipympl==0.9.2
ipython==8.8.0
ipython-genutils==0.2.0
ipyvolume==0.6.0a10
ipyvue==1.8.0
ipyvuetify==1.8.4
ipywebrtc==0.6.0
ipywidgets==7.7.2
isodate==0.6.1
isoduration==20.11.0
jaraco.classes==3.2.3
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-events==0.5.0
jupyter_client==7.4.8
jupyter_core==5.1.2
jupyter_server==2.0.6
jupyter_server_terminals==0.4.3
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
keyring==23.13.1
keyrings.alt==4.2.0
kiwisolver==1.4.4
llvmlite==0.39.1
lmfit==1.1.0
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mistune==2.0.4
mlforecast==0.6.0
more-itertools==9.0.0
multidict==6.0.4
natsort==8.2.0
nbclassic==0.4.8
nbclient==0.7.2
nbconvert==7.2.7
nbformat==5.7.1
ndx-grayscalevolume==0.0.2
ndx-icephys-meta==0.1.0
ndx-spectrum==0.2.2
nest-asyncio==1.5.6
networkx==3.0
notebook==6.5.2
notebook_shim==0.2.2
numba==0.56.4
numcodecs==0.11.0
numpy==1.23.5
nwbinspector==0.4.24
nwbwidgets==0.10.0
one==0.2.1
ONE-api==1.17.0
packaging==22.0
pandas==1.5.2
pandocfilters==1.5.0
panel==0.14.2
param==1.12.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==2.6.2
plotly==5.12.0
prometheus-client==0.15.0
prompt-toolkit==3.0.36
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
py2vega==0.6.1
pyarrow==10.0.1
pycodestyle==2.10.0
pycparser==2.21
pycryptodomex==3.16.0
pyct==0.4.8
pydantic==1.10.4
pyflakes==3.0.1
Pygments==2.14.0
pynwb==2.2.0
pyout==0.7.2
pyparsing==3.0.9
PyQt6==6.4.0
PyQt6-Qt6==6.4.2
PyQt6-sip==13.4.0
pyrsistent==0.19.3
PySide6-Addons==6.4.2
PySide6-Essentials==6.4.2
python-dateutil==2.8.2
python-editor==1.0.4
python-json-logger==2.0.4
pythreejs==2.4.1
pytz==2022.7.1
pyviz-comms==2.2.1
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==24.0.1
qpd==0.4.0
qtconsole==5.4.0
QtPy==2.3.0
readchar==4.0.3
requests==2.28.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987==1.3.8
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
s3transfer==0.6.0
scikit-image==0.19.3
scikit-learn==1.2.0
scipy==1.10.0
semantic-version==2.10.0
Send2Trash==1.8.0
shiboken6==6.4.2
six==1.16.0
sklearn==0.0.post1
sniffio==1.3.0
soupsieve==2.3.2.post1
SQLAlchemy==2.0.4
sqlglot==11.2.3
stack-data==0.6.2
tenacity==8.1.0
terminado==0.17.1
threadpoolctl==3.1.0
tifffile==2022.10.10
tinycss2==1.2.1
tornado==6.2
tqdm==4.64.1
traitlets==5.8.0
traittypes==0.2.1
triad==0.8.2
trimesh==3.18.1
typing_extensions==4.4.0
uncertainties==3.1.7
uri-template==1.2.0
urllib3==1.26.14
wcwidth==0.2.5
webcolors==1.12
webencodings==0.5.1
websocket-client==1.4.2
widgetsnbextension==3.6.1
window-ops==0.0.13
yarl==1.8.2
zarr==2.13.3
zipp==3.11.0
